@media only screen and (max-width: 800px) {
    #navigation{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        background-color: black;
        padding-bottom: 10px;
    }

    #remix-icon-container, #library-icon-container, #profile-icon-container, #home-icon-container, #add-icon-container {
        padding-top: 15px;
        padding-bottom: 15px;
        display: flex;
        flex-direction:column;
    }

    #remix-icon, #library-icon, #home-icon, #profile-icon{
        color: white;
        align-self: center;
    }

    #add-icon {
        color: white;
        align-self: center;
        background-color: #1DB954;
    }
  }

@media only screen and (min-width: 800px) {
    #navigation{
        display: flex;
        flex-direction: column;
        position: -webkit-sticky;
        position: sticky;
        width: 75px;
        padding-top: 20px;
    }
    #navigation-remix {
        display: none;
    }

    #navigation-library {
        display: none;
    }

    #remix-icon-container #library-icon-container{
        padding-top: 15px;
    }

    #remix-icon {
        color: #1DB954;
    }
    
    #library-icon {
        color: #1DB954;
    }
}