@media only screen and (max-width: 800px) {
    #sliders {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #stem-remix {
        font-family: 'Lato', sans-serif;
        font-size: 50px;
        text-align: left;
        font-weight: bold;
        color: white;
    }

    .slider {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 75px;
        border-radius: 10px;
        align-items: center;
        margin: 20px;
    }

    #vocal-volume, #other-volume, #bass-volume, #drums-volume {
        width: 85%;
    }

    #remix-playing-cover {
        border-radius: 10px;
        height: 200px;
        width: 200px;
        float: right;
    }

    #remix-information {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
        padding: 0px 20px 0px 20px;
    }

    #remix-playing {
        overflow: auto;
    }

    #remix-playing-title {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
        color: white;
    }
    
    #remix-playing-artist {
        font-size: 10px;
        font-family: 'Lato', sans-serif;
        color: white;
    }
}

@media only screen and (min-width: 800px) {
    #stem-remix {
        font-family: 'Lato', sans-serif;
        font-size: 40px;
        text-align: left;
        font-weight: bold;
        padding-bottom: 40px;
    }

    #remix-window {
        background-color: #CCCCC4;
        margin: 30px 30px 30px 0px;
        border-radius: 20px;
        padding: 40px;
        height: 65%;
        width: 75%;
    }

    #remix-and-sliders {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: inherit;
        padding-left: 50px;
        padding-right: 50px;
    }

    #sliders {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-left: 50px;
    }

    .slider {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 115px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        border-radius: 10px;
        align-items: center;
        margin: 40px 20px 40px 20px;
    }

    #vocal-volume {
        width: 93%;
    }

    #other-volume {
        width: 93%;
    }

    #bass-volume {
        width: 93%;
    }

    #drums-volume {
        width: 93%;
    }

    #remix-playing-cover {
        border-radius: 10px;
        height: 400px;
        width: 400px;
    }

    #remix-playing-title {
        font-size: 30px;
        font-family: 'Lato', sans-serif;
    }

    #remix-playing-artist {
        font-size: 40px;
        font-family: 'Lato', sans-serif;
        font-weight: bold;
    }

    #remix-information {
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: center;
    }

    #remix-playing {
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        padding: 20px;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    #remix-playing-time {
        font-size: 12px;
        font-family: 'Lato', sans-serif;
    }
    
    #remix-playing-creator {
        font-size: 12px;
        font-family: 'Lato', sans-serif;
        align-self: center;
        padding-left: 5px;
    }

    #play-arrow-icon {
        align-self: center;
        color: #ffffff;
        background-color: #1db954;
        border-radius: 25px;
        padding: 5px;
    }

    #pause-icon {
        align-self: center;
        color: #ffffff;
        background-color: #1db954;
        border-radius: 25px;
        padding: 5px;
    }
}

#slider-text {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    font-weight: bold;
}

.icon {
    font-size: 40px;
    color: white;
}