@media only screen and (min-width: 800px) {
    #window {
        background: white;
       border: 1px solid black;
       box-shadow: 10px 10px;
       overflow-y: scroll;
       height: 100%;
       width: 100%;
    }

    #window-container {
        display: flex;
        flex-direction: row-reverse;
        margin: 50px;
        background-color: black;
        border-radius: 20px;
        overflow-y: scroll;
        height: 65%;
        width: 75%;
    }

    #application-wrapper {
      background: white;
      border: 1px solid black;
      box-shadow: 10px 10px;
      height: 65%;
      width: 75%;
    }
}

@media only screen and (max-width: 800px) {
    #window {
        border-left: black 1px solid;
        border-top: black 1px solid;
        border-right: black 1px solid;
        padding: 20px;
    }

    #window-container {
        box-shadow: 5px 5px;
        height: 95%;
        width: 95%;
        overflow-y: scroll;
        background: black;
    }

    #application-wrapper {
      background: white;
      border: 1px solid black;
      box-shadow: 5px 5px;
      height: 95%;
      width: 95%;
    }
  }