#playlist-information {
    display: flex;
    flex-direction: row;
}

#playlist-image {
    width: 160px;
    height: 150px;
    border-radius: 20px;
}

#playlist-container {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.16);
}

#playlist {
    font-family: 'Lato', sans-serif;
    font-size: 12px;
}

#playlist-name {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}