#remix-component {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    background-color: red;
    border-radius: 20px;
}

#remix-title-artist {
    display: flex;
    flex-direction: column;
}